# --- STRICTLY IGNORE THESE 4 DATASETS & TRASH ---
FR/ptb-xl/
FR/Chapman_Full_Raw/
FR/PF12RED_Raw/
Trash/
*/Trash/

# --- Ignore System Files ---
.ipynb_checkpoints/
__pycache__/
*.pyc

# (Everything else like .keras, .zip, .h5 is now ALLOWED)
