# --- STRICTLY IGNORE THESE 2 DATASETS & TRASH ---
FR/ptb-xl/
FR/Chapman_Full_Raw/
Trash/
*/Trash/

# --- Ignore System Files ---
.ipynb_checkpoints/
__pycache__/
*.pyc

# (PF12RED_Raw is now allowed)
